{% include 'admin_header.html' %}
<body>
    
    <center><h1>Send Reply</h1></center>
    <form method="post">
        <!-- <label>complaint</label><input type="text" name="complaint" value=""> -->
        <div class="form-group">
           
            <textarea style="display: block;
            margin-left: auto;
            margin-right: auto;" name="reply" rows="15" cols="40" value=""></textarea>
          </div>
        

       
        <center><input type="submit" class="btn btn-primary" name="submit" value="submit"></center>


    </form>
    
</body>
    

{% include 'admin_footer.html' %}