<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    
    {% include 'admin_header.html' %}
    

{%if data['up']%}
    <form method="POST">
        <table>


            <tr>
                <th><label>Firstname</label></th>
                <th><input type="text" name="fname" value="{{data['up'][0]['first_name']}}"></th>
                
            </tr>
            <tr>
                <th><label>lastname</label></th>
                <th><input type="text" name="lname" value="{{data['up'][0]['last_name']}}"><br></th>

            </tr>
            <tr>
                <th><label>Gender</label></th>
                <th><input type="text" name="gender" value="{{data['up'][0]['gender']}}"></th>

            </tr>
            <tr>
                <th>
                    designation






                    
                </th>
                <td><select name="desig" id="">
                    {% for i in data['view'] %}
                    <option value="{{i['designation_id']}}">{{i['designation_name']}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <th><label>Dob</label></th>
                <th><input type="text" name="dob" value="{{data['up'][0]['dob']}}"></th>
            </tr>
            <tr>
                <th><label>phonenumber</label></th>
                <th> <input type="text" name="pnum" value="{{data['up'][0]['phone']}}"></th>
            </tr>
           
            <tr>
                <th>email</th>
                <th><input type="text" name="ema" value="{{data['up'][0]['email']}}"></th>
            </tr>
        
            <tr>
                <th><input class="btn btn-info" type="submit" name="update" value="update"></th>
            </tr>
           
        </table>

        
    </form>
{%else%}

    <form method="POST">
        <table>
            <tr>
                <th></th>
                 <th><h1><u>Manage staff<u></h1></th>
                  <th></th>
            <tr>


            <tr>
                <th><label>Firstname</label></th>
                <th><input type="text" name="fname" value=""></th>
                
            </tr>
            <tr>
                <th><label>lastname</label></th>
                <th><input type="text" name="lname" value=""><br></th>

            </tr>
            <tr>
                <th><label>Gender</label></th>
                <th><input type="text" name="gender" value=""></th>

            </tr>
            <tr>
                <th>
                    designation
                </th>
                <td><select name="desig" id="">
                    {% for i in data['view'] %}
                    <option value="{{i['designation_id']}}">{{i['designation_name']}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <th><label>Dob</label></th>
                <th><input type="text" name="dob" value=""></th>
            </tr>
            <tr>
                <th><label>phonenumber</label></th>
                <th> <input type="text" name="pnum" value=""></th>
            </tr>
            <tr>
                <th><label>username</label></th>
                <th><input type="text" name="uname" value=""></th>
            </tr>
            <tr>
                <th>email</th>
                <th><input type="text" name="ema" value=""></th>
            </tr>
            <tr>
                <th>
                    <label>password</label>
                    
                </th>
                <th><input type="text" name="passw" value=""></th>
            </tr>
            <tr>
                <th><input type="submit" name="submit" value="submit"></th>
            </tr>
           
        </table>

        </form>
    {% endif %}


    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">firstname</th>
      <th scope="col">lastname</th>
      <th scope="col">gender</th>
      <th scope="col">dob</th>
      <th scope="col">phone</th>
      <th scope="col">email</th>
      <th scope="col">update</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
  {% for i in data['staff'] %}
  <tbody>
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{i['first_name']}}</td>
      <td>{{i['last_name']}}</td>
      <td>{{i['gender']}}</td>
      <td>{{i['dob']}}</td>
      <td>{{i['phone']}}</td>
      <td>{{i['email']}}</td>
      <td><a href="?action=update&id={{i['staff_id']}}">update</a></td>
      <td><a href="?action=delete&id={{i['staff_id']}}">delete</a></td>
    </tr>
 

  </tbody>
  {% endfor %}
</table>

{% include 'admin_footer.html' %}


