<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->
{% include 'admin_header.html' %}
<body>
    <center><h1>sendnotifications</h1></center>
    <form method="post">
        <!-- <label>complaint</label><input type="text" name="complaint" value=""> -->
        <div class="form-group">
           
            <textarea style="display: block;
            margin-left: auto;
            margin-right: auto;" name="nd" rows="15" cols="40" value=""></textarea>
          </div>
        

       
        <center><input type="submit" class="btn btn-primary" name="submit" value="submit"></center>


    </form>
    
</body>
    
{% include 'admin_footer.html'%}
<!-- </html> -->