<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>staffhome</h1>
    <a href="viewprofile">viewprofile</a>
    <h3><u>view notification</u></h3><a href="viewnotifications">viewnotifications</a>
  
    <h2><u>sendcomplaints</u></h2><a href="sendcomplaints">sendcomplaints</a>
    <h2>viewreply<h2><a href="viewreply">viewreply</a>
    
</body>
</html> -->
{% include 'staff_header.html' %}

<div style=" height: 400px;
  width: 500px;"><h1 style=" position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)">Welcome Staff</h1></div>

{% include 'staff_footer.html' %}